@font-face {
	font-family: "Montserrat-Black";
	src: url(event_iteca\fonts\Montserrat-Black.ttf) format("ttf"),
		url(event_iteca\fonts\Montserrat-Black.woff) format("woff"),
		url(event_iteca\fonts\Montserrat-Black.woff2) format("woff2");
}
@font-face {
	font-family: "Montserrat-Bold";
	src: url(event_iteca\fonts\Montserrat-Bold.ttf) format("ttf"),
		url(event_iteca\fonts\Montserrat-Bold.woff) format("woff"),
		url(event_iteca\fonts\Montserrat-Bold.woff2) format("woff2");
}
@font-face {
	font-family: "Montserrat-Medium";
	src: url(event_iteca\fonts\Montserrat-Medium.ttf) format("ttf"),
		url(event_iteca\fonts\Montserrat-Medium.woff) format("woff"),
		url(event_iteca\fonts\Montserrat-Medium.woff2) format("woff2");
}
@font-face {
	font-family: "Montserrat-Regular";
	src: url(event_iteca\fonts\Montserrat-Regular.ttf) format("ttf"),
		url(event_iteca\fonts\Montserrat-Regular.woff) format("woff"),
		url(event_iteca\fonts\Montserrat-Regular.woff2) format("woff2");
}
@font-face {
	font-family: "Montserrat-SemiBold";
	src: url(event_iteca\fonts\Montserrat-SemiBold.ttf) format("ttf"),
		url(event_iteca\fonts\Montserrat-SemiBold.woff) format("woff"),
		url(event_iteca\fonts\Montserrat-SemiBold.woff2) format("woff2");
}
@font-face {
	font-family: "Montserrat-Light";
	src: url(event_iteca\fonts\Montserrat-Light.ttf) format("ttf"),
		url(event_iteca\fonts\Montserrat-Light.woff) format("woff"),
		url(event_iteca\fonts\Montserrat-Light.woff2) format("woff2");
}
