.footer {
    background: #06474B;
    height: 120px;
    &__text {
        padding-left: 0;
        padding-top: 20px;
        li {
            margin-bottom: 5px;
            font-size: 14px;
            list-style: none;
            font-weight: bold;
            color: $secondgreen;
            a {
                text-decoration: none;
                color: $secondgreen;

            }
        }
    }
}