.footer {
    background: #06474B;
    height: 134px;
    position: relative;
    display: block;
    padding-top: 70px;
    &__text {
        display: flex;
        justify-content: space-around;
        bottom: 0;
        padding-top: 40px;
        li {
            font-size: 14px;
            list-style: none;
            font-weight: bold;
            color: $secondgreen;
            a {
                text-decoration: none;
                color: $secondgreen;

            }
        }
    }
}