.header {
    position: relative;
    background: rgba(255, 255, 255, 0.81);
    backdrop-filter: blur(5px);
        &-nav {
        display: flex;
        justify-content: space-between;
        img {
            width: 100%;
            max-width: 105px;
            
        }
    }
    .navbar {
        display: flex;
        justify-content: space-between;
        width: 100%;
        margin-top: 43px;
        li {
            text-decoration: none;
            list-style-type: none;
            font-family: 'Montserrat', sans-serif;
            font-size: 16px;
            letter-spacing: 0.15em;
            a {
                position: relative;
                display: block;
                color: $black;
                text-decoration: none;
                cursor: pointer;
                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }
}